SoapTest.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions targetNamespace="http://service" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service" xmlns:intf="http://service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><wsdl:types><schema elementFormDefault="qualified" targetNamespace="http://service" xmlns="http://www.w3.org/2001/XMLSchema"><element name="echo"><complexType><sequence><element name="args" type="xsd:string"/></sequence></complexType></element><element name="echoResponse"><complexType><sequence><element name="echoReturn" type="xsd:string"/></sequence></complexType></element></schema></wsdl:types><wsdl:message name="echoRequest"><wsdl:part element="impl:echo" name="parameters"></wsdl:part></wsdl:message><wsdl:message name="echoResponse"><wsdl:part element="impl:echoResponse" name="parameters"></wsdl:part></wsdl:message><wsdl:portType name="SoapTest"><wsdl:operation name="echo"><wsdl:input message="impl:echoRequest" name="echoRequest"></wsdl:input><wsdl:output message="impl:echoResponse" name="echoResponse"></wsdl:output></wsdl:operation></wsdl:portType><wsdl:binding name="SoapTestSoapBinding" type="impl:SoapTest"><wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/><wsdl:operation name="echo"><wsdlsoap:operation soapAction=""/><wsdl:input name="echoRequest"><wsdlsoap:body use="literal"/></wsdl:input><wsdl:output name="echoResponse"><wsdlsoap:body use="literal"/></wsdl:output></wsdl:operation></wsdl:binding><wsdl:service name="SoapTestService"><wsdl:port binding="impl:SoapTestSoapBinding" name="SoapTest"><wsdlsoap:address location="http://localhost:4000/SoapTest"/></wsdl:port></wsdl:service></wsdl:definitions>
